@import "./base.scss";
html,body{min-width: 12.6rem;}
*[class^="f_"] {
  .m_container{
    width: 12.6rem;
    margin: 0 auto;
  }
}
.head{
  color:blue;
}

//input number arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

button{
  outline:none;
  border:none;
  &:active{
    opacity: 0.8;
  }
}
.pink-btn{
  color: #c40000;
  background: #ffeded;
  border: 1px solid #c40000;
}

.red-btn{
  color: #fff;
  background: #c40000;
  border: 1px solid transparent;
}