@import "./base.scss";
html,body{min-width: 12.6rem;}
*[class^="f_"] {
  .m_container{
    width: 12.6rem;
    margin: 0 auto;
  }
}
.head{
  color:blue;
}

//input number arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}