@import "./variable.scss";
@import "./reset.scss";
@import "./base.scss";


html,body{min-width: 12.6rem;}
*[class^="f_"] {
  .m_container{
    width: 12.6rem;
    margin: 0 auto;
  }
}
.head{
  color:blue;
}

//input number arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

button{
  outline:none;
  border:none;
  &:active{
    opacity: 0.8;
  }
}
.pink-btn{
  color: $themeColor;
  background: #ffeded;
  border: 1px solid $themeColor;
}

.red-btn{
  color: #fff;
  background: $themeColor;
  border: 1px solid transparent;
}

.tl{
  text-align: left!important;
}

.orderItemWangWangGif{
  display: block;
  width: 67px;
  height: 23px;
  background-image: url('../../../static/img/wangwang.gif');
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-position: -0px -0px;
  position: relative;
}
